@model Contact
@{
    ViewData["Title"] = "Contact";
}

<section id="contact" class="contact">

<div class="container">
    <div clas="col-9"><a href="  d:\ASP.net Project\MyProject\Views\Home\Contact"></a></div>
    <div class="section-title">
        <h2>Contact</h2>
    </div>

    <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
                <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Location:</h4>
                    <p>Shamlan Street, Sana'a, Yemen</p>
                </div>

                <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p>Aziz@gmail.com</p>
                </div>

                <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p>+967 770 315 417</p>
                </div>
                    <div class="phone">
                        <i class="bi bi-globe2"></i>
                        <h4>Website:</h4>
                        <p>www.abood.com</p>
                    </div>
                   
                </div>
            </div>
               

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              
                <form asp-action="Contact" class="php-email-form">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name">Your Name</label>
                        <input asp-for="Name" type="text" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name">Your Email</label>
                        <input asp-action="Email" type="email" class="form-control" name="email" id="email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">Message</label>
                    <textarea asp-action="Massege" class="form-control" name="massege" rows="10" required></textarea>
                </div>
                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                    <div class="text-center">
                        <button type="submit">Send Message</button>                   
                        <a asp-action="Message" class="text-center" style="background-color:cadetblue; color:#fff;padding:13px 20px;border:1px solid deepskyblue; border-radius:5px;cursor:pointer;">Back to Messages</a>
                    </div>
                 
            </form>
        </div> 

    </div>
</div>

</section><!-- End Contact Section -->
