
    <table class="table table-dark table-hover" style="box-shadow: 0 0 10px rgba(0,0,0,0.5)">
        <thead>
            <tr style="text-align:center">
                <th style="border-top-left-radius:15px;">
                    Title
                </th>
             
             

            
                <th style="border-top-right-radius:15px">Actions</th>
            </tr>
        </thead>
        <tbody>
            

                <tr style="text-align:center">
                    <td class="table-success">
                        About
                    </td>
                    
                    <td class="table-secondary">
                        Settings
                    </td>
               </tr>
            <tr style="text-align:center">
                <td class="table-success">
                    Resume
                </td>

                <td class="table-secondary">
                    Settings
                </td>
            </tr>
            <tr style="text-align:center">
                <td class="table-success">
                    Facts
                </td>

                <td class="table-secondary">
                    Settings
                </td>
            </tr>
            <tr style="text-align:center">
                <td class="table-success">
                    Services
                </td>

                <td class="table-secondary">
                    Settings
                </td>
            </tr>
            <tr style="text-align:center">
                <td class="table-success">
                    Skills
                </td>

                <td class="table-secondary">
                    Settings
                </td>
            </tr>
            
            
        </tbody>
    </table>

