 @model IEnumerable<skills>
<section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Skills</h2>
        
        </div>
        
            <div class="row skills-content">
            @foreach (var item in Model)
            {
                <div class="col-lg-6">

                    <div class="progress">
                        <span class="skill">@item.Name <i class="val">@item.rate%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.rate" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>
            }
            </div>

    </div>
</section>

